{% extends "base.html" %}
{% block title %}Accounts Page{% endblock %}
{% block content %}
    <h1>Bank Accounts</h1>
    
    <table class="table table-bordered table-striped">

        <thead>
            <th>Account Name</th>
            <th>Type</th>
            <th>Institution</th>
            <th>Website</th>
            <th>Actions</th>
        </thead>

        <tbody>
            {% for account in accounts %}
            <tr>
                <td>{{ account.name }}</td>
                <td>{{ account.type }}</td>
                <td>{{ account.institution }}</td>
                <td><a href="{{ account.website }}">{{ account.website }}</a></td>
                <td>
                    <a href="/accounts/{{ account.id }}/edit">Edit</a> |
                    <a href="/accounts/{{ account.id }}/delete">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

    <div class="col-md-12 text-end">
        <a class="btn btn-primary" href="/accounts/create">Add Account</a>
    </div>
{% endblock %}