{% extends "base.html" %}
{% block title %}Budget Page{% endblock %}
{% block content %}
    <h1>Budget</h1>

    <!-- Selection for the month -->

    <table class="table table-bordered table-striped table-primary">
        <thead>
            <th>Category</th>
            <th>Budgeted Amount</th>
            <th></th>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.category_name }}</td>
                <td>${{ "{:,.2f}".format(category.budget) }}</td>
                <td class="text-end"><a href="{{ url_for('main.delete_category_page', category_id=category.category_id) }}" class="btn btn-close"></a></td>
            </tr>
            {% endfor %}
    </table>

    <form method="POST" action="/users/{{ user_id }}/categories">
        <div class="row align-items-end">
            <div class="col-md-4">
                <input type="text" class="form-control" id="categoryName" name="name" required placeholder="Category Name">
            </div>

            <div class="col-md-4">
                <input type="text" inputmode="decimal" class="form-control" id="budgetedAmount" name="budgeted_amount" required placeholder="Budgeted Amount (e.g. 2,300.00)">
            </div>

            <div class="col-md-4">
                <button type="submit" class="btn btn-primary w-100">Add Category</button>
            </div>
        </div>
    </form>

<br/>

    <table>
        <tr>
            <td><strong>Total</strong></td>
            <td>${{ "{:,.2f}".format(total_budgeted) }}</td>
        </tr>
    </table>
    
{% endblock %}