{% extends "base.html" %}
{% block title %}Budget Page{% endblock %}
{% block content %}
    <h1>Budget</h1>

    <!-- Selection for the month -->

    <table class="table table-bordered table-striped">
        <thead>
            <th>Category</th>
            <th>Budgeted Amount</th>
            <th>Amount Spent</th>
            <th>Amount Remaining</th>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.budgeted_amount }}</td>
                <td>{{ category.amount_spent }}</td>
                <td>{{ category.amount_remaining }}</td>
            </tr>
            {% endfor %}
    </table>

    <div class="col-md-12 text-end">
        <a class="btn btn-primary" href="/category/create">Add Category</a>
    </div>

    <table>
        <tr>
            <td><strong>Total</strong></td>
            <td>{{ total_budgeted }}</td>
            <td>{{ total_spent }}</td>
            <td>{{ total_remaining }}</td>
        </tr>
    </table>
    
{% endblock %}