{% extends "base.html" %}
{% block title %}Budget Page{% endblock %}
{% block content %}
    <h1>Budget</h1>

    <!-- Selection for the month -->

    <table class="table table-bordered table-striped table-primary">
        <thead>
            <th>Category</th>
            <th>Budgeted Amount</th>
            <th>Amount Spent</th>
            <th>Amount Remaining</th>
            <th></th>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.budgeted_amount }}</td>
                <td>{{ category.amount_spent }}</td>
                <td>{{ category.amount_remaining }}</td>
                <td><a href="/categories/{{ category.id }}/delete" class="btn btn-close float-end"></a></td>
            </tr>
            {% endfor %}
    </table>

    <form method="POST" action="/users/{{ user_id }}/categories">
        <div class="row align-items-end">
            <div class="col-md-4">
                <input type="text" class="form-control" id="categoryName" name="name" required placeholder="Category Name">
            </div>

            <div class="col-md-4">
                <input type="number" step="0.01" class="form-control" id="budgetedAmount" name="budgeted_amount" required placeholder="Budgeted Amount">
            </div>

            <div class="col-md-4">
                <button type="submit" class="btn btn-primary w-100">Add Category</button>
            </div>
        </div>
    </form>

<br/>

    <table>
        <tr>
            <td><strong>Total</strong></td>
            <td>{{ total_budgeted }}</td>
            <td>{{ total_spent }}</td>
            <td>{{ total_remaining }}</td>
        </tr>
    </table>
    
{% endblock %}