{% extends "base.html" %}
{% block title %}Register Page{% endblock %}
{% block content %}
    <h1>Register Page</h1>
    <p>Register your account here</p>
    <form action="/register" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Register">
    </form>
        <button onclick="window.location.href='/login'">Login</button>
{% endblock %}