<html>
    <head>
        <title>Registrar Page</title>
    </head>
    <body>
        <h1>Registrar Page</h1>
        <p>Registrar your account here</p>
        <form action="/register" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br><br>
            <input type="submit" value="Register">
        </form>
            <button onclick="window.location.href='/login'">Login</button>
    </body>
</html>